MONGO_URI=mongodb://127.0.0.1:27017/perfumeriaVioleta
PORT=4000

# Credenciales de Wompi Sandbox
WOMPI_PUBLIC_KEY=pub_test_REEMPLAZAR
WOMPI_INTEGRITY_SECRET=REEMPLAZAR
WOMPI_EVENTS_SECRET=REEMPLAZAR
WOMPI_REDIRECT_URL=http://localhost:3000/pago/resultado
WOMPI_CHECKOUT_URL=https://checkout.wompi.co/p/
